<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Nouveau Voyage</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">


<body>

<div layout:fragment="contentUI">

    <h2 class="display-5">Nouveau Reservation</h2>

    <div class="col-md-6 offset-3 ">
        <div class="card">
            <div class="card-header">Reservation</div>
            <div class="card-body">
        <form th:method="POST" th:action="@{/Responsable_reservation/resultats-disponibilites}" >

            <div>
                <label for="station_depart">Ma gare de départ</label>
                <select id="station_depart" name="station_depart" class="form-select" required  >
                    <option value="">selectionner la Gare de départ</option>
                    <option value="" th:each="station : ${allStations}" th:value="${station.getStationId()}" th:text="${station.getStationName()}" ></option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div>
                <label for="station_arrivee">Ma gare de d'arrivée</label>
                <select id="station_arrivee" name="station_arrivee" class="form-select" required >
                    <option value="">selectionner la Gare d'arrivée</option>
                    <option th:each="station : ${allStations}" th:value="${station.getStationId()}"  th:text="${station.getStationName()}" ></option>
                </select>
                <span class="text-danger"></span>

            </div>

            <div class="mt-3">
                <label for="depart">Ma date de départ : </label>
                <input style="padding: 5px;" type="datetime-local" id="depart" name="depart_date">

            </div>

            <div class="mt-3 mb-3">
                <label for="arrivee">Ma date de retour : </label>
                <input  style="padding: 5px;" type="datetime-local" id="arrivee" name="arrival_date">

            </div>

            <div>
                <label for="voyageurs">Voyageurs</label>
                <select id="voyageurs" name="nb_passagers" class="form-select" aria-label="Default select example">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>


            <button  type="submit"  class="btn btn-primary mt-3">Chercher</button>
        </form>
            </div>
        <div th:switch="${msg_add}" >

            <div class="alert alert-danger" role="alert" th:case="${false}">
                Aucun train n'est disponible
            </div>

            <div class="alert alert-success" role="alert" th:case="${true}">
                la voyage est ajoutée ^_^
            </div>

        </div>
        </div>
    </div>

    <div class="h-100 d-flex   flex-column  align-items-center justify-content-center mt-3">
        <div class="card text-center w-50 mb-3 " th:each="voyageDisp : ${ResultVoyages}">
            <div class="card-header">
                <span th:text="${trainRepository.findByTrainId(voyageDisp.train.trainId).trainName}"></span> <span th:text="${stationRepository.findAllByStationId(voyageDisp.origin_station.stationId).getStationName()}"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title">   Départ <span th:text="${voyageDisp.deparature_date.format(formatterForHour)}"></span> <span th:text="${stationRepository.findAllByStationId(voyageDisp.origin_station.stationId).getStationName()}"></span>   --------> Arrivée <span th:text="${voyageDisp.arrival_date.format(formatterForHour)}"></span> <span th:text="${stationRepository.findAllByStationId(voyageDisp.desti_station.stationId).getStationName()}"></span> </h5>
                <p class="card-text"> 00h30min  </p>
                <a href="#" class="btn btn-primary">Réserver</a>
            </div>
            <div class="card-footer text-muted">
                <span th:text="${nombrePassagers}"></span> passager à partir de  <span th:text="${voyageService.getPriceV(voyageService.getPriceByDistance(voyageDisp.desti_station.stationId,voyageDisp.origin_station.stationId),voyageDisp.train.trainId,nombrePassagers)}"></span> DH
            </div>
        </div>
    </div>

</div>



</body>
</html>